#thebody{
    background-color: powderblue;
}

#thepara{
    color: rebeccapurple;
}

#recurrance{
    background-color: yellowgreen;
    display: inline;
}

#info-h1{
    background: tomato;
    display: inline;
}