{% extends "base.html" %}

{% block content %}

    <h1>Events List</h1>

    {% for event in events %}
    
    <div>
        <p id=the-para>
            {{ event.date }} : <b>{{ event.event_name}}, &#8287; {{ event.guest_numbers }}, &#8287; {{event.room_location}}, &#8287; {{event.description}}</b>
            {% if event.recurring %}
                <span>👍</span>
            {% endif %}
        </p>

        <!--date, event_name, guest_numbers, room_location, description, recurring-->

    </div>
    {% endfor %}

{% endblock %}
